<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Latest Vehicle</title>
</head>
<body>
   <h1>Latest Vehicle Added</h1>
   <main class="content px-3 py-2">
      <div class="mt-4 box-list">
          <div class="box-grid grid-3">
              
                  <div class="row">
                      <div class="col-md-4">
                          <div class="product-container">
                              <img src="{{ latest_vehicle.image.url }}" alt="Product Image" class="product-image">
                              <div class="product-details">
                                  <div class="product-title">{{ latest_vehicle.model }}</div>
                                  <div class="product-type">{{ latest_vehicle.get_type_display }}</div>
                                  <div class="product-price">{{ latest_vehicle.price }}</div>
                                  <a href="" class="btn btn-primary">Add to Cart</a>
                              </div>
                          </div>
                      </div>
                  </div>
              
          </div>
      </div>
   </main>
</body>
</html>
