<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- driver/templates/driver/add_vehicle.html -->

    <h2>ทดสอบเพิ่มข้อมูล</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'add_vehicle' %}">
        {% csrf_token %}
        <label for="name">รถเกี่ยวประเภท:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" required>
        <br>
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" required>
        <br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*">
        <br>
        <button type="submit">เพิ่ม</button>
    </form>


</body>

</html>