<!-- addcar.html -->
{% extends "components/base.html" %}

{% block title %}
    Addcar - เพิ่มรถ
{% endblock %}   

{% block main %}
            {% include "components/slider_driver.html" %}

    <div class="addcar-container">
        <div class="form">
        <h1>เพิ่มรถ</h1>
        <div class="image-preview">
            <img id="preview" src="#" alt="Preview">
        </div>
        <form action="" method="POST"  enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <!-- <label for="image">รูปภาพ:</label>
            <input type="file" class="form-control" name="image" accept="image/*" required
                onchange="previewImage(event)">

            <label for="model">รุ่น:</label>
            <input type="text" class="form-control" name="model" required>

            <label for="type">ประเภทรถ:</label>
            <select class="form-control" name="type" required>
                <option value="">เลือกประเภทรถ</option>
                <option value="Sack">แบบรองกระสอบ</option>
                <option value="Bucket">แบบถังอุ้ม</option>
            </select>

            <label for="price">ราคาต่อไร่:</label>
            <input type="number" class="form-control" name="price" required>
   
            <label for="province">จังหวัด:</label>
            <select class="form-control" name="province" required>
                <option value="">เลือกจังหวัด</option>
                <option value="Bangkok">กรุงเทพ</option>
                <option value="Samut Prakan">สมุทรปราการ</option>
                <option value="Nonthaburi">นนทบุรี</option>
                <option value="Pathum Thani">ปทุมธานี</option>
                <option value="Samut Sakhon">สมุทรสาคร</option>
                <option value="Samut Songkhram">สมุทรสงคราม</option>
                <option value="Phra Nakhon Si Ayutthaya">พระนครศรีอยุธยา</option>
                <option value="Ang Thong">อ่างทอง</option>
                <option value="Lop Buri">ลพบุรี</option>
                <option value="Sing Buri">สิงห์บุรี</option>
                <option value="Chai Nat">ชัยนาท</option>
                <option value="Saraburi">สระบุรี</option>
                <option value="Chon Buri">ชลบุรี</option>
                <option value="Rayong">ระยอง</option>
                <option value="Chanthaburi">จันทบุรี</option>
                <option value="Trat">ตราด</option>
                <option value="Chachoengsao">ฉะเชิงเทรา</option>
                <option value="Prachin Buri">ปราจีนบุรี</option>
                <option value="Nakhon Nayok">นครนายก</option>
                <option value="Sa Kaeo">สระแก้ว</option>
                <option value="Nakhon Ratchasima">นครราชสีมา</option>
                <option value="Buri Ram">บุรีรัมย์</option>
                <option value="Surin">สุรินทร์</option>
                <option value="Si Sa Ket">ศรีสะเกษ</option>
                <option value="Ubon Ratchathani">อุบลราชธานี</option>
                <option value="Yasothon">ยโสธร</option>
                <option value="Chaiyaphum">ชัยภูมิ</option>
                <option value="Amnat Charoen">อำนาจเจริญ</option>
                <option value="Bueng Kan">บึงกาฬ</option>
                <option value="Nong Bua Lamphu">หนองบัวลำภู</option>
                <option value="Khon Kaen">ขอนแก่น</option>
                <option value="Udon Thani">อุดรธานี</option>
                <option value="Loei">เลย</option>
                <option value="Nong Khai">หนองคาย</option>
                <option value="Maha Sarakham">มหาสารคาม</option>
                <option value="Roi Et">ร้อยเอ็ด</option>
                <option value="Kalasin">กาฬสินธุ์</option>
                <option value="Sakon Nakhon">สกลนคร</option>
                <option value="Nakhon Phanom">นครพนม</option>
                <option value="Mukdahan">มุกดาหาร</option>
                <option value="Chiang Rai">เชียงราย</option>
                <option value="Mae Hong Son">แม่ฮ่องสอน</option>
                <option value="Nan">น่าน</option>
                <option value="Phayao">พะเยา</option>
                <option value="Phrae">แพร่</option>
                <option value="Lampang">ลำปาง</option>
                <option value="Lamphun">ลำพูน</option>
                <option value="Uttaradit">อุตรดิตถ์</option>
                <option value="Phitsanulok">พิษณุโลก</option>
                <option value="Phichit">พิจิตร</option>
                <option value="Phetchabun">เพชรบูรณ์</option>
                <option value="Ratchaburi">ราชบุรี</option>
                <option value="Kanchanaburi">กาญจนบุรี</option>
                <option value="Suphan Buri">สุพรรณบุรี</option>
                <option value="Nakhon Pathom">นครปฐม</option>
                <option value="Samut Sakhon">สมุทรสาคร</option>
                <option value="Samut Songkhram">สมุทรสงคราม</option>
                <option value="Phetchaburi">เพชรบุรี</option>
                <option value="Prachuap Khiri Khan">ประจวบคีรีขันธ์</option>
                <option value="Nakhon Si Thammarat">นครศรีธรรมราช</option>
                <option value="Krabi">กระบี่</option>
                <option value="Phangnga">พังงา</option>
                <option value="Phuket">ภูเก็ต</option>
                <option value="Surat Thani">สุราษฎร์ธานี</option>
                <option value="Ranong">ระนอง</option>
                <option value="Chumphon">ชุมพร</option>
                <option value="Songkhla">สงขลา</option>
                <option value="Satun">สตูล</option>
                <option value="Trang">ตรัง</option>
                <option value="Phatthalung">พัทลุง</option>
                <option value="Pattani">ปัตตานี</option>
                <option value="Yala">ยะลา</option>
                <option value="Narathiwat">นราธิวาส</option>
            </select> -->
            
            <input type="submit" class="button" value="เพิ่มรถ">
        </form>
    </div>
</div>


    <script>
        function previewImage(event) {
            var preview = document.getElementById('preview');
            preview.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
    
{% endblock %}