<!-- addcar.html -->
{% extends "components/base.html" %}

{% block title %}
    Addcar - เพิ่มรถ
{% endblock %}   

{% block main %}
    {% include "components/slider_driver.html" %}

    <div class="addcar-container">
        <div class="form">
            <h1>เพิ่มรถ</h1>
            <div class="image-preview">
                <img id="preview" src="#" alt="Preview">
            </div>
            <form id="add_vehicle_form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                
                <label for="id_driver">Driver:</label>
                <input type="text" id="id_driver" name="driver" value="{{ request.user.name }}" disabled>
                
                <input type="submit" class="button" value="เพิ่มรถ">
            </form>
        </div>
    </div>

    <script>
        window.onload = function() {
            // เมื่อฟอร์มถูกส่งให้ดำเนินการตามที่คุณต้องการ
            document.getElementById("add_vehicle_form").addEventListener("submit", function(event) {
                // ส่งข้อมูลฟอร์มไปยังหน้าเพิ่มรถ
                // ในที่นี้คือการส่งไปยัง URL ที่รับข้อมูลรถเพื่อบันทึกลงในฐานข้อมูล
                // คุณสามารถแก้ไข URL ตามที่คุณต้องการ
                this.action = "{% url 'add_vehicle' %}";
            });
        };
        
        function previewImage(event) {
            var preview = document.getElementById('preview');
            preview.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
{% endblock %}
